.grid_container{
    display: grid;
    height: 600px;
    width: 600px;
    margin-top: 5%;
    margin-left: 30%;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: black 5px double;
    background-color: dodgerblue;
    border-radius: 12px;
}

/* Top Row for operands and operator */
.operand_one_display{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 30px;
    text-align: center;
    font-size: 20pt;
    border: transparent 2px double;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.operand_two_display{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 30px;
    text-align: center;
    font-size: 20pt;
    border: transparent 2px double;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.operator_display{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 30px;
    text-align: center;
    font-size: 20pt;
    border: transparent 2px double;
    background-color: lightgrey;
    margin-bottom: 10px;
}

/* Buttons */

/* 5th row from the bottom */
.operand_divide{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_clear{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_sign{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}


/* 4th row from bottom */
.digit_7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_9{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_multiply{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

/* 3rd row from bottom */
.digit_4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_subtract{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}


/* 2nd row from bottom */
.digit_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.digit_3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_add{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}


/* 1st row from bottom */
.digit_0{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_decimal{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.operand_equal{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    font-size: 20pt;
    border: black 2px double;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {background-color: darkgrey}

.button:active {
    background-color: darkgrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
